.flexFiller {
  flex: 1;
}

.navbar {
  height: var(--navbar-height);
  background-color: white;
  filter: var(--shadow);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;

  padding-left: var(--side-margin);
  padding-right: var(--side-margin);

  display: flex;
  align-items: center;

  .menu {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 5rem;

    li {
      cursor: pointer;
      list-style-type: none;
      font-family: var(--font-barlow), sans-serif;
      font-weight: 500;
      font-size: 2rem;
      color: rgb(var(--green-2-rgb));
    }
  }

  button {
    width: 14rem;
    height: 4.33rem;
    background-color: rgb(var(--green-1-rgb));

    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.hero {
  padding: 0px var(--side-margin);
  padding-top: var(--navbar-height);
  height: 100vh;

  display: flex;

  .content {
    flex: 1;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-right: 6rem;

    h1 {
      color: rgb(var(--green-1-rgb));
      font-family: var(--font-barlow), sans-serif;
      font-weight: 800;
      line-height: 93.5%;
      font-style: normal;

      span {
        color: rgb(var(--green-2-rgb));
      }
    }

    p {
      margin-top: 2rem;
      line-height: 159.6%;
    }

    .buttonGroup {
      width: 100%;
      display: flex;
      gap: 1rem;

      margin-top: 6.66rem;

      button {
        background-color: rgb(var(--green-2-rgb));
        color: white;

        a {
          align-items: center;
          display: flex;
          gap: 1rem;

          img {
            filter: var(--svg-fill-white);
          }
        }
      }

      button:last-of-type {        
        color: rgb(var(--green-2-rgb));
        background-color: rgba(var(--green-1-rgb), 0.25);

        img {
          filter: var(--svg-fill-green-2);
        }
      }
    }
  }

  .image {
    position: relative;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6rem;

    .homePage {
      height: 100%;
      width: auto;
    }

    .notification, .reminderCard {
      position: absolute;
      filter: var(--shadow);
    }

    .notification {
      top: 35%;
      left: 0;
      width: 26.66rem;
      height: 5rem;
    }

    .reminderCard {
      bottom: 20%;
      right: 0;
      width: 25.4rem;
      height: 9.16rem;
    }
  }
}

.image::after {
  content: '';
  position: absolute;
  z-index: -1;

  width: 38rem;
  height: 38rem;
  background-color: rgb(var(--green-1-rgb));
  border-radius: 1000px;
}

.benefits, .process, .footer {
  padding: 6rem var(--side-margin);
}

.benefits {
  background-color: rgb(var(--green-1-rgb));

  h2, h3 {
    color: white;
  }

  h3 {
    opacity: 0.75;
  }

  .cardsWrapper {
    display: flex;
    gap: 5.5rem;
    margin-top: 7.5rem;
  }
}

.process {
  display: flex;
  flex-direction: column;

  .processWrapper {
    flex: 1;
    margin-top: 8rem;

    display: flex;

    .image {
      flex: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 56rem;
        width: auto;
        position: relative;
      }
    }

    .image::after {
      content: '';
      position: absolute;
      z-index: -1;

      width: 41.25rem;
      height: 41.25rem;
      background-color: rgb(var(--green-1-rgb));
      border-radius: 1000px;
    }

    .processList {
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8rem;
    }
  }
}

.footer {
  padding-bottom: 2.25rem;

  background-color: rgb(var(--green-1-rgb));
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  h1 {
    color: white;
  }

  p {
    color: rgb(var(--green-2-rgb));
    width: 80%;
  }

  .buttonGroup {
    display: flex;
    gap: 1rem;

    margin-top: 8.75rem;

    button {
      background-color: white;
      color: rgb(var(--green-2-rgb));

      a {
        align-items: center;
        display: flex;
        gap: 1rem;

        img {
          filter: var(--svg-fill-green-2);
        }
      }
    }

    button:last-of-type {
      background-color: rgb(var(--green-2-rgb));
      color: white;
      
      img {
        filter: var(--svg-fill-white);
      }
    }
  }

  .line {
    margin: 2.25rem 0px;

    height: 1px;
    width: 100%;

    background-color: rgba(var(--green-2-rgb), 0.25);
  }

  p:last-of-type {
    width: 100% !important;
    font-size: 1.5rem;
  }
}

/* Smalller Screens */
@media (max-width: 700px) {
  .navbar {
    .menu {
      display: block;
    }

    ul {
      display: none;

      position: fixed;
      width: 100%;
      top: var(--navbar-height);
      left: 0;

      filter: var(--shadow);

      flex-direction: column;
      background-color: white;
      z-index: 1;

      gap: 4rem;

      li {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
      }

      li:first-of-type {
        margin-top: 4rem;
      }

      li:last-of-type {
        padding: 0px;
        width: 100%;

        button {
          border-radius: 0px !important;
          padding: 4rem;
          width: 100%;
          
          font-size: 2.5rem;
        }
      }
    }

    .shown {
      display: flex;
    }
  }

  .hero {
    display: block;
    height: unset;

    .content {
      height: 100svh;
      justify-content: center;

      padding-right: 0px;

      align-self: unset;

      .buttonGroup {
        flex-direction: column;

        button {
          width: 100%;
        }
      }
    }
  }

  .benefits {
    .cardsWrapper {
      flex-direction: column;
    }
  }

  .process {
    .processWrapper {
      flex-direction: column;
      gap: 4rem;
    }

    .processList {
      gap: 4rem !important;
    }
  }

  .footer {
    h1 {
      font-size: 4rem;
    }

    p {
      width: 100% !important;
    }
  }
}