.flexFiller {
  flex: 1;
}

.navbar {
  height: var(--navbar-height);
  background-color: white;
  filter: var(--shadow);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  padding-left: 10rem;
  padding-right: 10rem;

  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    gap: 5rem;

    li {
      cursor: pointer;
      list-style-type: none;
      font-family: var(--font-barlow), sans-serif;
      font-weight: 500;
      font-size: 2rem;
      color: rgb(var(--green-2-rgb));
    }
  }

  button {
    width: 14rem;
    height: 4.33rem;
    background-color: rgb(var(--green-1-rgb));

    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.hero {
  padding: 0px var(--side-margin);
  padding-top: var(--navbar-height);
  height: 100vh;

  display: flex;

  .content {
    flex: 1;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-right: 6rem;

    h1 {
      color: rgb(var(--green-1-rgb));
      font-family: var(--font-barlow), sans-serif;
      font-weight: 800;
      line-height: 93.5%;
      font-style: normal;

      span {
        color: rgb(var(--green-2-rgb));
      }
    }

    p {
      margin-top: 2rem;
      line-height: 159.6%;
    }

    .buttonGroup {
      display: flex;
      gap: 1rem;
      width: 100%;

      margin-top: 6.66rem;

      button {
        background-color: rgb(var(--green-2-rgb));
        color: white;

        img {
          filter: var(--svg-fill-white);
        }
      }

      button:last-of-type {        
        color: rgb(var(--green-2-rgb));
        background-color: rgba(var(--green-1-rgb), 0.25);

        img {
          filter: var(--svg-fill-green-2);
        }
      }
    }
  }

  .image {
    position: relative;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6rem;

    .homePage {
      height: 100%;
      width: auto;
    }

    .notification, .reminderCard {
      position: absolute;
      filter: var(--shadow);
    }

    .notification {
      top: 35%;
      left: 0;
      width: 26.66rem;
      height: 5rem;
    }

    .reminderCard {
      bottom: 20%;
      right: 0;
      width: 25.4rem;
      height: 9.16rem;
    }
  }
}

.benefits, .process {
  padding: 6rem var(--side-margin);
}

.benefits {
  .cardsWrapper {
    display: flex;
    gap: 5.5rem;
    margin-top: 7.5rem;
  }
}

.process {
  display: flex;
  flex-direction: column;

  .processWrapper {
    flex: 1;
    margin-top: 8rem;

    display: flex;

    .image {
      flex: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 56rem;
        width: auto;
        position: relative;
      }
    }

    .image::after {
      content: '';
      position: absolute;
      z-index: -1;

      width: 41.25rem;
      height: 41.25rem;
      background-color: rgb(var(--green-1-rgb));
      border-radius: 1000px;
    }

    .processList {
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8rem;
    }
  }
}