.card {
  background-color: rgb(var(--green-1-rgb));
  border-radius: 2rem;
  padding: 2rem;
  filter: var(--shadow);

  color: white;
  text-align: center;

  img {
    filter: var(--svg-fill-white);
  }

  h3 {
    margin-top: 3rem;
    color: white !important;
    font-weight: 700;
    font-family: var(--font-barlow), sans-serif;
  }

  p {
    margin-top: 1rem;
    line-height: 2rem;
  }
}