#my-plants {
  display: grid !important;
}

.button-wrapper {
  padding: 0px 20px 20px 20px;
}

.no-plants {
  padding-right: 0px;
  margin-bottom: 20px;
}

.search-user-plant-section {
  height: 80px;
  position: relative;
}

.search-user-plant-section input {
  width: calc(100vw - 40px);
}

.search-icon {
  top: 30px;
  position: absolute;
  right: 36px;
  z-index: 3;
}

.search-user-plant-section .search-result {
  top: 40px !important;
}

#my-plants {
  min-height: 30svh;
}

.garden-stat:first-of-type img {
  filter: invert(99%) sepia(83%) saturate(167%) hue-rotate(226deg) brightness(123%) contrast(100%);
}

.your-plans-label {
  padding: 0px 20px 10px 20px;
}

#garden-icon {
  height: 32px;
  width: auto;
  aspect-ratio: 1/1;
  align-self: center;
  filter: invert(99%) sepia(83%) saturate(167%) hue-rotate(226deg) brightness(123%) contrast(100%);
}