* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.signup {
  max-width: 360px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
}
.top {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-weight: bolder;
}
.label-hi {
  color: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-size: 50px;
}
.label-new-account {
  color: rgba(121, 158, 41, 1);
  font-family: Barlow;
  font-size: 20px;
}
.form-fields {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 10px;
  margin-top: 50px;
}
.notify-message,
.username,
.email,
.password,
.confirm-password {
  position: relative;
}
.label-notify-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bolder;
  font-family: Barlow;
  font-size: 15px;
}
.notify-message {
  display: none;
  border-radius: 5px;
}
.notify-message,
.username-input,
.email-input,
.password-input,
.confirm-password-input {
  padding-left: 60px;
  width: 100%;
  height: 45px;
  border-color: transparent;
  overflow: hidden;
  -webkit-transition: 0s;
  transition: 0s;
  outline: none;
}
.username-input,
.email-input,
.password-input,
.confirm-password-input {
  background: rgba(236, 236, 236, 0.5);
  border-radius: 20px;
  font-family: Barlow;
  font-size: 15px;
}
.username-input:focus,
.email-input:focus,
.password-input:focus,
.confirm-password-input:focus {
  border: 2px solid rgba(5, 77, 59, 1);
}
.username-input.error,
.email-input.error,
.password-input.error,
.confirm-password-input.error {
  border: 2px solid red;
}
.notify-message img,
.username img,
.email img,
.password img,
.confirm-password img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.signup-button-div {
  padding: 0 32px;
  margin-top: 45px;
}
.signup-button {
  width: 100%;
  height: 45px;
  background: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
}
.signup-button:hover {
  background-color: rgba(121, 158, 41, 1);
  transform: translateY(-2px);
  color: rgba(5, 77, 59, 1);
}
.signup-button:active {
  transform: translateY(2px);
}
.bottom {
  width: 100%;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
}
.label-already-account,
.label-sign-in {
  font-family: Barlow;
  font-size: 12px;
  opacity: 0.7;
}
.label-already-account {
  color: rgba(0, 0, 0, 1);
}
.label-sign-in {
  color: rgba(5, 77, 59, 1);
  font-weight: bolder;
  cursor: pointer;
}
.label-sign-in:hover {
  text-decoration: underline;
  text-decoration-color: rgba(5, 77, 59, 1);
}
@media screen and (orientation: landscape) {
  body {
    height: 100%;
    overflow-y: scroll;
  }
  .signup {
    padding-bottom: 20px;
  }
}
