/* screen - usertab */
:root { 
  --apple: #4caf50;
  --aqua-deep: #054d3b;
  --green-apple: #799E29;
  --crimson: #AD343E;
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-24: 24px;
  --font-size-xxxl: 30px;
 
  --font-family-barlow: "Barlow", Helvetica;
  --font-family-rajdhani: "Rajdhani", Helvetica;
}


body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.logo {
  height: 88px;
  left: 40px;
  position: absolute;
  top: 7px;
  width: 156px;
}

.usertab {
  background-color: var(--white);
  border: 1px none;
  position: relative;
}

.separator {
  height: 1024px;
  left: 243px;
  position: absolute;
  top: 0;
  width: 2px;
}

.menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 24px;
  min-height: 330px;
  position: absolute;
  top: 303px;
  width: 200px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 132px;
  position: absolute;
  top: 129px;
  width: 247px;
}

.profile_photo {
  height: 70px;
  margin-right: 7.0px;
  width: 70px;
}

.full_name {
  color: var(--apple);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  margin-top: 20px;
  min-height: 19px;
  text-align: center;
  white-space: nowrap;
  width: 243px;
}

.email {
  color: #054d3b80;
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  margin-top: 6px;
  min-height: 17px;
  text-align: center;
  width: 243px;
}

.logout {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 22px;
  left: 27px;
  min-width: 177px;
  position: absolute;
  top: 951px;
}

.dashboard {
  align-items: center;
  display: flex;
  gap: 22px;
  margin-left: 3px;
  min-width: 144px;
}

.vector {
  height: 20px;
  width: 20px;
  margin-top: 2px;

}

.highlighted-menu-text {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  width: 102px;
}

.menu-text {
  align-items: center;
  display: flex;
  gap: 21px;
  margin-left: 3px;
  min-width: 138px;
}

a {
  text-decoration: none; 
}

a:hover {
  font-weight: 700;
}

.button {
  border: none;
  padding: none;
  background: none;
}

.header {
  background-color: var(--aqua-deep);
  display: flex;
  flex-direction: column;
  left: 243px;
  padding: 23px 16px;
  position: absolute;
  width: 100%;
}

.header-text{
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header-subtext{
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-name {
  color: var(--aqua-deep);
  font-family: var(--font-family-rajdhani);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  min-width: 113px;
  padding-left: 300px;
  padding-top: 120px;
  padding-bottom: 10px;
}

.search-position {
  align-items: flex-end;
  display: flex;
  padding-left: 280px;
}

.search-container {
  background-color: #DDE4C9;
  width: 25%;
  min-height: 60px;
  border-radius: 10px;
  margin-left: 20px;
}

.search-input {
  background-color: transparent;
  letter-spacing: 0;
  line-height: normal;
  min-height: normal;
  min-width: 200px;
  border: none;
  padding-left: 10px;
  position: relative;
}

.search-icon {
  margin-top: 10px;
  margin-left: 20px;
  height: 30px;
  width: 30px;
  top: 5px;
  position: relative;
}

.report-container {
  background-color: #DDE4C9;
  width: 20%;
  min-height: 60px;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.report-text {
  padding-left: 10px;
  position: relative;
}

textarea:focus, input:focus{
  outline: none;
}

.status-choices{
  outline: none;
  margin-left: auto;
  margin-right: 10px;
  background-color: none;
}

.report-table {
  padding-top: 20px;
  padding-left: 300px;
  width: 80%;
}

tr {
  padding-top: 20px;
  text-align: center;
}

tr:hover {
  background-color: #ddd;
}

th {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 12px;
  padding:50px;
  text-align: left;
  background-color: #82A69D;
  text-align: center;
  vertical-align: middle;
}
