@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root { 
  --apple: #4caf50;
  --aqua-deep: #054d3b;
  --green-apple: #799E29;
  --crimson: #AD343E;
  --black: #000000;
  --white: #ffffff;

  --green-1-rgb: 5, 77, 59;
 
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-24: 24px;
  --font-size-xxxl: 30px;
 
  --font-family-barlow: "Barlow", Helvetica;
  --font-family-rajdhani: "Rajdhani", Helvetica;
}

/* * {
  background-color: rgba(212, 178, 223, 0.2);
} */

body {
  display: flex;
  height: 100svh;
}

.usertab {
  background-color: var(--white);
  border: 1px none;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 243px;

  border-right: 2px solid rgba(var(--green-1-rgb), 0.25);
}

.management {
  flex: 1;
  max-height: 100svh;
  overflow-x: hidden;
}

.logo {
  height: 88px;
  width: 156px;
  margin-bottom: 34px;
}

.menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  min-height: 330px;
  width: 100%;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 132px;
  width: 247px;
  margin-bottom: 42px;
}

.profile_photo {
  border-radius: 50%;
  height: 90px;
  margin-right: 7.0px;
  width: 90px;
}

button {
  border: none;
  padding: none;
  background: none;
}

button:hover {
  font-weight: 700;
}

.full_name {
  color: var(--apple);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  margin-top: 20px;
  min-height: 19px;
  text-align: center;
  white-space: nowrap;
  width: 243px;
}

.email {
  color: #054d3b80;
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  margin-top: 6px;
  min-height: 17px;
  text-align: center;
  width: 243px;
}

.logout {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 22px;
  width: 100%;
}

.dashboard {
  align-items: center;
  display: flex;
  gap: 22px;
  margin-left: 3px;
  min-width: 144px;
}

.vector {
  height: 20px;
  width: 20px;
  margin-top: 2px;

}

.highlighted-menu-text {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  width: 102px;
}

.menu-text {
  align-items: center;
  display: flex;
  gap: 21px;
  margin-left: 3px;
  min-width: 138px;
}

a {
  text-decoration: none; 
}

a:hover {
  font-weight: 700;
}

.button {
  border: none;
  padding: none;
  background: none;
}

.whole-community {
  padding: 27px 50px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--aqua-deep);
  display: flex;
  flex-direction: column;
  padding: 23px 16px;
  width: 100%;
}

.header-text{
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header-subtext{
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-name {
  color: var(--aqua-deep);
  font-family: var(--font-family-rajdhani);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  min-width: 113px;
  margin-bottom: 5px;
}

.search-position {
  margin-bottom: 10px;
  align-items: flex-end;
  display: flex;
  gap: 20px;
}

.search-container {
  background-color: #DDE4C9;
  width: 320px;
  min-height: 60px;
  border-radius: 10px;
  padding: 13px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.search-input {
  background-color: transparent;
  letter-spacing: 0;
  line-height: normal;
  min-height: normal;
  min-width: 200px;
  border: none;
  position: relative;
}

.search-input::-webkit-outer-spin-button,
.search-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sort-fonts {
  color: #054D3B;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-input::placeholder {
  opacity: 0.75;
  color: #054D3B;
}

.search-icon {
  height: 24px;
  width: 24px;
  position: relative;
}

.report-container {
  background-color: #DDE4C9;
  width: 235px;
  min-height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 13px;
}

.report-text {
  opacity: 0.75;  
}

textarea:focus, input:focus{
  outline: none;
}

.status-choices{
  outline: none;
  border: none;
  background-color: transparent;
  text-align: right;
}

.status-choices option {
  text-align: center;
  color: white;
  background-color: #054D3B;
  border-radius: 0px;
}

.report-table {
  width: 100%;
}

.report-table table {
  min-width: 100%;
}

.table-body {  
  max-height: 40svh;
  overflow: auto;
}

th {
  color: white;
  text-align: left;
  background-color: #82A69D;
  text-align: center;
}

tr {
  text-align: center;
  padding-bottom: 20px;
}

.rowcenter {
  text-align: justify;
  text-justify: inter-word;
}


tr:hover {
  background-color: #ddd;
}


.rowpadding {
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
}

.table-row{
  padding-top:50px;
}

.no-result-cell {
  padding: 30px;
  text-align: center;
}

button {
  border: none;
  padding: none;
  background: none;
}


