/* screen - usertab */

body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.logo {
  height: 88px;
  left: 40px;
  position: absolute;
  top: 7px;
  width: 156px;
}

.usertab {
  background-color: var(--white);
  border: 1px none;
  position: relative;
}

.separator {
  height: 1024px;
  left: 243px;
  position: absolute;
  top: 0;
  width: 2px;
}

.menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 24px;
  min-height: 330px;
  position: absolute;
  top: 303px;
  width: 200px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 132px;
  position: absolute;
  top: 129px;
  width: 247px;
}

.profile_photo {
  border-radius: 50%;
  height: 90px;
  margin-right: 7.0px;
  width: 90px;
}

button {
  border: none;
  padding: none;
  background: none;
}

button:hover {
  font-weight: 700;
}

.full_name {
  color: var(--apple);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  margin-top: 20px;
  min-height: 19px;
  text-align: center;
  white-space: nowrap;
  width: 243px;
}

.email {
  color: #054d3b80;
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  margin-top: 6px;
  min-height: 17px;
  text-align: center;
  width: 243px;
}

.logout {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 22px;
  left: 27px;
  min-width: 177px;
  position: absolute;
  top: 951px;
}

.dashboard {
  align-items: center;
  display: flex;
  gap: 22px;
  margin-left: 3px;
  min-width: 144px;
}

.vector {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}

.highlighted-menu-text {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  width: 102px;
}

.menu-text {
  align-items: center;
  display: flex;
  gap: 21px;
  margin-left: 3px;
  min-width: 138px;
}

a {
  text-decoration: none; 
}

a:hover {
  font-weight: 700;
}

.header {
  background-color: var(--aqua-deep);
  display: flex;
  flex-direction: column;
  left: 243px;
  padding: 23px 16px;
  position: absolute;
  width: 100%;
}

.header-text{
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.header-subtext{
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dashboard-info {
  flex-direction: row;
  gap: 8px;
  left: 287px;
  min-height: 860px;
  position: absolute;
  top: 129px;
  width: 1114px;
  align-items: flex-start;
  display: flex;
  height: 205px;
  min-width: 1114px;
}

.green-box {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--apple);
  border-radius: 20px;
  display: flex;
  gap: 85px;
  height: 140px;
  justify-content: flex-end;
  min-width: 270px;
  padding: 23px 13px;
  margin-left: 10px;
}

.green-box-format {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  min-height: 85px;
  width: 110px;
}

.green-box-img {
  height: 50px;
  width: 50px;
}

.green-box-txt{
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.green-box-number {
  align-self: flex-end;
  letter-spacing: 0;
  height: 36px;
  margin-bottom: 2px;
  min-width: 45px;
  line-height: normal;
  white-space: nowrap;
}

.whole-dashboard {
  flex-direction: row;
  align-self: flex-start;
}

.analytics-name {
  color: var(--aqua-deep);
  font-family: var(--font-family-rajdhani);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  min-width: 113px;
  padding-left: 300px;
  padding-top: 300px;
}

.green-dashboard-box {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--aqua-deep);
  border-radius: 10px;
  min-height: 642px;
  margin-left: 300px;
  width: 70%;
  flex-wrap: flex;
}

.dashboard-buttons {
  z-index: 10;
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 24px;
  margin-left: 20px;
  margin-top: 17px;
  min-width: 1055px;
}


.dashboard-button-left-selected {
  z-index: 10;
  background: none;
  border: none;
  color: var(--aqua-deep);
  text-decoration: underline;
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 95px;
  text-align: center;
  white-space: nowrap;
}

.dashboard-button-left-not {
  z-index: 10;
  background: none;
  border: none;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 25px;
  min-height: 24px;
  min-width: 116px;
  text-align: center;
  white-space: nowrap;
}

.right-side {
  z-index: 10;
  flex-wrap: wrap;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 400px;
  padding-left: 8%;
  margin-left: auto;
  margin-right: 20px;
  white-space: nowrap;
}

.dashboard-button-right-selected {
  z-index: 10;
  background: none;
  border: none;
  color: var(--aqua-deep);
  text-decoration: underline;
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 24px;
  min-height: 24px;
  min-width: 56px;
  text-align: center;
  white-space: nowrap;
}


.dashboard-button-right-not {
  z-index: 10;
  letter-spacing: 0;
  background: none;
  border: none;
  line-height: normal;
  min-height: 24px;
  min-width: 52px;
  margin-left: 24px;
  text-align: center;
  white-space: nowrap;
}

button {
  border: none;
  background: none;
  z-index: 50;
}

button:hover {
  font-weight: 700;
}

