:root { 
  --apple: #4caf50;
  --aqua-deep: #054d3b;
  --green-apple: #799E29;
  --crimson: #AD343E;
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-24: 24px;
  --font-size-xxxl: 30px;
 
  --font-family-barlow: "Barlow", Helvetica;
  --font-family-rajdhani: "Rajdhani", Helvetica;
}
.barlow-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: normal;
}

.barlow-medium-aqua-deep-16px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.barlow-medium-aqua-deep-18px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.barlow-medium-heavy-aqua-deep-18px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.barlow-medium-aqua-deep-15px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.barlow-medium-italic-apple-16px {
  color: var(--apple);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 100;
}

.barlow-medium-green-apple-18px {
  color: var(--green-apple);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.barlow-medium-crimson-18px {
  color: var(--crimson);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.barlow-bold-aqua-deep-30px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.barlow-bold-aqua-deep-20px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.barlow-bold-aqua-deep-24px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 700;
}

.barlow-medium-aqua-deep-20px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.barlow-medium-thick-aqua-deep-20px {
  color: var(--aqua-deep);
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 800;
}
