* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.profile {
  max-width: 360px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 0 20px;
}
.profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.notify-message,
.profile-image-container {
  position: relative;
}
.profile-image-container img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}
.change-photo-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.change-photo-custom-button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
}
.change-photo-custom-button input[type="file"] {
  display: none;
}
.label-profile-image {
  color: rgba(76, 175, 80, 1);
  font-family: Barlow;
  font-weight: bold;
  font-size: 20px;
}
.top {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.label-about-you {
  color: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-weight: bold;
  font-size: 20px;
}
.notify-message {
  display: none;
  border-radius: 5px;
}
.label-notify-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bolder;
  font-family: Barlow;
  font-size: 15px;
}
.notify-message {
  padding-left: 60px;
  width: 100%;
  height: 45px;
  border-color: transparent;
  overflow: hidden;
  -webkit-transition: 0s;
  transition: 0s;
  outline: none;
}
.notify-message img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.credentials-container {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 15px;
}
.labels-credentials,
.actual-credentials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.actual-credentials {
  width: 100%;
  margin-right: 40px;
}
.label-username,
.label-email-address,
.label-password,
.actual-username-input,
.actual-email-address-input,
.actual-password-input {
  font-family: Barlow;
  font-size: 15px;
}
.label-username,
.label-email-address,
.label-password {
  color: rgba(76, 175, 80, 1);
}
.actual-username-input,
.actual-email-address-input,
.actual-password-input {
  color: rgba(5, 77, 59, 1);
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(5, 77, 59, 1);
}
.actual-username-input.error,
.actual-email-address-input.error,
.actual-password-input.error {
  border-bottom: 2px solid red;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.save-button,
.cancel-button {
  width: 100%;
  height: 40px;
  background: rgba(5, 77, 59, 1);
  border-radius: 10px;
  color: white;
  border-color: transparent;
  font-family: Barlow;
  font-size: 18px;
}
/* .save-button {
  background: rgba(57, 122, 101, 1);
  pointer-events: none;
}
.save-button.active {
  background-color: rgba(5, 77, 59, 1);
  pointer-events: auto;
}
.cancel-button {
  background: rgba(5, 77, 59, 1);
} */
.save-button:hover,
.cancel-button:hover {
  background-color: rgba(121, 158, 41, 1);
  transform: translateY(-2px);
  color: rgba(5, 77, 59, 1);
}
.save-button:active,
.cancel-button:active {
  transform: translateY(2px);
}
