.navbar {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 2;

  position: sticky;
  top: 0;
}

.navbar img {
  height: 50px;
  width: auto;
}

.go-back {
  background-color: rgb(var(--green-1-rgb));
  padding: 10px 20px;

  display: flex;
  align-items: center;
}

.go-back img {
  filter: invert(99%) sepia(83%) saturate(167%) hue-rotate(226deg) brightness(123%) contrast(100%);
}

.plant-image-wrapper {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.plant-image-wrapper img {
  width: 100%;
  aspect-ratio: 1/1;
  vertical-align: top;
  object-fit: cover;
}

.plant-details-wrapper {
  background-color: rgba(var(--green-1-rgb));
  position: relative;
}

.plant-details {
  position: relative;
  padding: 20px;
  background-color: white;
}

.water-details {
  margin-top: 20px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.water-details p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgb(var(--green-1-rgb));
}

.explore-specific-plant-details {
  border-radius: 0px 0px 75px 0px;
  padding-bottom: 50px;
}

.plant-details h2, .plant-details h5 {
  color: rgba(var(--green-2-rgb));
  font-family: 'Rajdhani', sans-serif;
}

.plant-details h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.plant-details h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.plant-details p {
  font-family: 'Barlow', sans-serif;
}

.text-loading-group {
  margin-top: 20px;
}

.loading-text {
  height: 20px;
  width: 100%;
  margin-top: 10px;
}

#plant-description {
  margin-top: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
}

#plant-description {
  text-indent: 20px;
}

.extra-details {
  width: 100%;
  color: white;
  font-family: 'Barlow', sans-serif;
  display: inline-block;

  padding: 40px 20px;
}

.extra-details-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Set two columns per row */
  gap: 10px;
  grid-row-gap: 30px;
  grid-auto-columns: 1fr;
}

.extra-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.extra-detail img {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

.extra-detail h4 {
  font-weight: 700;
  font-size: 18px;
}

.extra-detail p {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  color: white;
  background-color: rgba(var(--green-2-rgb), 0.5);
  border-radius: 100px;
  border: none;
  padding: 10px 15px;
  margin-top: 40px;
}

.shop {
  background-color: rgb(var(--green-2-rgb));
  padding: 20px 30px;
  color: white;
  text-align: center;
  transition: all 300ms ease;
}

.shop h3 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 24px;
}

.shop-icons {
  margin-top: 24px;
  display: none;
  justify-content: space-between;
}

.icon {
  height: 62px;
  width: 62px;
  border-radius: 10px;
  object-fit: cover;
}

.icon-label {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  opacity: 0.75;
}