* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: stretch;
}
.forgot-password {
  max-width: 360px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  min-height: 100vh;
}
.top {
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.top img {
  width: 20px;
  height: 20px;
  position: relative;
  right: 80px;
}
.label-forgot-password {
  color: rgba(121, 158, 41, 1);
  font-family: Barlow;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  position: relative;
  right: 20px;
}
.form-fields {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;
  margin-top: 60px;
  align-items: center;
  flex-grow: 1;
}
.label-enter-email-address {
  color: rgba(5, 77, 59, 1);
  font-family: Barlow;
  font-weight: bolder;
}
.label-enter-email-address {
  font-size: 15px;
}
.email,
.notify-message {
  position: relative;
}
.notify-message {
  display: none;
  border-radius: 5px;
}
.label-notify-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bolder;
  font-family: Barlow;
  font-size: 15px;
}
.email-input,
.notify-message {
  padding: 0 60px;
  width: 100%;
  height: 45px;
  border-color: transparent;
  overflow: hidden;
  -webkit-transition: 0s;
  transition: 0s;
  outline: none;
}
.email-input {
  background: rgba(236, 236, 236, 0.5);
  border-radius: 20px;
  font-family: Barlow;
  font-size: 15px;
}
.email-input:focus {
  border: 2px solid rgba(5, 77, 59, 1);
}
.email-input.error {
  border: 2px solid red;
}
.email img,
.notify-message img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.send-button {
  width: 100%;
  height: 45px;
  background: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
  padding: 0 130px;
}
.send-button:hover {
  background-color: rgba(121, 158, 41, 1);
  color: rgba(5, 77, 59, 1);
  transform: translateY(-2px);
}
.send-button:active {
  transform: translateY(2px);
}
