#my-plants {
  display: grid !important;
}

.button-wrapper {
  padding: 0px 20px 20px 20px;
}

.no-plants {
  padding-right: 0px;
  margin-bottom: 20px;
}

.search-user-plant-section {
  height: 80px;
  position: relative;
}

.search-user-plant-section input {
  width: calc(100vw - 40px);
}

.search-user-plant-section img {
  top: 30px;
  position: absolute;
  right: 36px;
  z-index: 3;
}