.garden-welcome-label {
  color: rgb(var(--green-1-rgb)) !important;
}

.garden-page-search {
  margin-top: 20px;
}

#my-plants {
  display: grid !important;
}

.button-wrapper {
  padding: 0px 20px 20px 20px;
}