.section-name {
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.my-plants-section {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.explore-plants-section {
  padding-top: 35px;
  padding-left: 20px;
}

.plant-parents-section {
  padding: 20px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
}

.posts-container {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(var(--gray-rgb));
}

.post {
  display: flex;
  gap: 17px;
}

.post img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100px;

  flex-shrink: 0;
  align-self: baseline;
}

.post .content {
  padding: 10px 15px;
  background-color: rgb(var(--green-1-rgb));
  border-radius: 5px;
  font-weight: 600;
} 

.info {
  display: none;
  color: rgb(var(--green-1-rgb));
  font-family: 'Barlow', sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 0px 15px;
}

.content-wrapper {
  flex: 1;
}

.post .content p {
  color: rgba(255, 255, 255, 0.75);
}

.post .content h4 {
  color: rgb(255, 255, 255);
  font-family: 'Barlow', sans-serif;
  margin-bottom: 5px;
}

#posts-list {
  overflow: auto;
  min-height: 300px;
  max-height: 300px;

  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}

.posts-container input {
  width: 100%;

  background-color: rgba(var(--green-1-rgb), 0.25);
  color: rgb(var(--green-2-rgb));

  padding: 10px 15px;
  border-radius: 100px;
  margin-top: 12px;
  border: none;

  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.posts-container input::placeholder {
  color: rgb(var(--green-2-rgb));
}

.loading-message {
  height: 75px;
  flex: 1;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

.report h2 {
  text-align: left;
}

.report .post-content {
  max-height: 150px;
  display: flex;
  gap: 10px;
  color: white;
  margin-bottom: 20px;
}

#user-image {
  border-radius: 100px;
  align-self: flex-start;
  height: 36px;
  width: auto;
  aspect-ratio: 1/1;
}

.report textarea {
  height: 150px;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(var(--green-1-rgb), 0.25);
  border: none;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.report textarea::placeholder {
  color: rgb(var(--green-2-rgb));
}

.report h3:last-child {
  margin-top: 10px;
}

.report h5 {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

.report .content {
  padding: 10px;
  background-color: rgb(var(--green-1-rgb));
  border-radius: 5px;
}

.report .text {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  opacity: 0.75;
  font-weight: 600;
}

.report .button-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}