.banner {
  height: 245px;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../assets/home-banner.png"); 
}

.banner h2 {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.banner h1 {
  color: rgb(var(--green-1-rgb));
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.banner button {
  color: white;
  background-color: rgb(var(--red-rgb));
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 35px;
  width: 150px;
  border-radius: 200px;
  margin-top: 18px;
  border: none;
  cursor: pointer;
}

.my-plants-section {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.section-name {
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.plants-list   {
  white-space: nowrap;
  overflow-x: auto;
}

.no-plants {
  display: none;
  padding-right: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-plants p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  line-height: 14px;
  color: rgb(var(--green-1-rgb));
  width: 190px;
  text-align: center;
}

.add-first-plant {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(var(--green-1-rgb), 0.5);
  border: 1px solid rgb(var(--green-2-rgb));
  border-radius: 10px;
  padding: 13.33px;
  margin-bottom: 5px;
}

.add-first-plant img {
  width: 23.33px;
  height: 23.33px;
  filter: invert(22%) sepia(25%) saturate(1396%) hue-rotate(115deg) brightness(96%) contrast(96%);
}

.plant-item {
  display: inline-block;
  position: relative;
  height: 120px;
  width: 120px;
  
  border-radius: 10px;
  overflow: hidden;

  margin-right: 15px;
}

.plant-item:last-child {
  margin-right: 0;
}

.plant-item .details {
  position: absolute;
  bottom: 0;

  background-color: rgba(var(--green-2-rgb), 0.6);
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  color: white;

  width: 100%;
  height: 47px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plant-item .details .plant-name {
  font-weight: 700;
}

.plant-item .details .water-schedule {
  font-weight: 400;
  text-align: center;

  width: 80%;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}

.plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-section {
  padding: 0px 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.search {
  height: 40px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid rgb(var(--green-2-rgb));

  background-color: rgba(var(--green-1-rgb), 0.25);
  color: rgb(var(--green-2-rgb));

  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 15px;

  padding: 0px 17px;
}

.search::placeholder {
  color: rgb(var(--green-2-rgb));
}

.search-section .search-icon {
  position: absolute;
  right: 36px;
}

.explore-plants-section {
  padding-top: 35px;
  padding-left: 20px;
}

.plant-parents-section {
  padding: 20px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
}

.posts-container {
  border: 2px solid rgb(var(--green-2-rgb));
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(var(--gray-rgb));
}

.post {
  display: flex;
  gap: 17px;
}

.post img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100px;

  flex-shrink: 0;
  align-self: baseline;
}

.post .content {
  padding: 10px 15px;
  background-color: rgb(var(--green-1-rgb));
  border-radius: 5px;
  font-weight: 600;
} 

.content:focus + .info {
  display: flex;
  justify-content: space-between;
}

.info {
  display: none;
  color: rgb(var(--green-1-rgb));
  font-family: 'Barlow', sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 0px 15px;
}

.post .content p {
  color: rgba(255, 255, 255, 0.75);
}

.post .content h4 {
  color: rgb(255, 255, 255);
  font-family: 'Barlow', sans-serif;
  margin-bottom: 5px;
}

#posts-list {
  overflow: auto;
  min-height: 300px;
  max-height: 300px;

  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  padding-bottom: 12px;
}

.posts-container input {
  width: 100%;

  background-color: rgba(var(--green-1-rgb), 0.25);
  color: rgb(var(--green-2-rgb));

  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid rgb(var(--green-2-rgb));

  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.posts-container input::placeholder {
  color: rgb(var(--green-2-rgb));
}