* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.main {
  max-width: 360px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 73px;
}
.logo img {
  width: 360px;
  height: 197px;
}
.label-hello-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  margin-top: 70px;
}
.label-hello,
.label-slogan {
  color: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-weight: bolder;
}
.label-hello {
  font-size: 30px;
}
.label-slogan {
  font-size: 15px;
  text-align: center;
}
.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
  margin-top: 70px;
}
.login-button,
.signup-button {
  width: 100%;
  height: 45px;
  background: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
}
.login-button:hover,
.signup-button:hover {
  background-color: rgba(121, 158, 41, 1);
  transform: translateY(-2px);
  color: rgba(5, 77, 59, 1);
}
.login-button:active,
.signup-button:active {
  transform: translateY(2px);
}
