* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.login {
  max-width: 360px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
}
.top {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-weight: bolder;
}
.label-welcome {
  color: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-size: 50px;
}
.label-signin {
  color: rgba(121, 158, 41, 1);
  font-family: Barlow;
  font-size: 20px;
}
.form-fields {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 10px;
  margin-top: 50px;
}
.notify-message,
.username,
.password {
  position: relative;
}
.label-notify-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bolder;
  font-family: Barlow;
  font-size: 15px;
}
.notify-message {
  display: none;
  border-radius: 5px;
}
.notify-message,
.username-input,
.password-input {
  padding-left: 60px;
  width: 100%;
  height: 45px;
  border-color: transparent;
  overflow: hidden;
  -webkit-transition: 0s;
  transition: 0s;
  outline: none;
}
.username-input,
.password-input {
  background: rgba(236, 236, 236, 0.5);
  border-radius: 20px;
  font-family: Barlow;
  font-size: 15px;
}
.username-input:focus,
.password-input:focus {
  border: 2px solid rgba(5, 77, 59, 1);
}
.username-input.error,
.password-input.error {
  border: 2px solid red;
}
.username img,
.password img,
.notify-message img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.remember-password {
  display: flex;
  align-items: center;
}
.remember-forgot-password {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}
.label-forgot-password,
.label-remember-password {
  color: rgba(0, 0, 0, 1);
  font-family: Barlow;
  font-size: 12px;
  opacity: 0.7;
}
.label-forgot-password {
  cursor: pointer;
}
.label-forgot-password:hover {
  text-decoration: underline;
  text-decoration-color: rgba(5, 77, 59, 1);
}
.remember-password-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(5, 77, 59, 1);
  margin-right: 5px;
}
input[type="checkbox"] {
  accent-color: rgba(5, 77, 59, 1);
  cursor: pointer;
}
.login-button-div {
  padding: 0 32px;
  margin-top: 50px;
}
.login-button {
  width: 100%;
  height: 45px;
  background: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
}
.login-button:hover {
  background-color: rgba(121, 158, 41, 1);
  transform: translateY(-2px);
  color: rgba(5, 77, 59, 1);
}
.login-button:active {
  transform: translateY(2px);
}
.bottom {
  width: 100%;
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
}
.label-no-account,
.label-sign-up {
  font-family: Barlow;
  font-size: 12px;
  opacity: 0.7;
}
.label-no-account {
  color: rgba(0, 0, 0, 1);
}
.label-sign-up {
  color: rgba(5, 77, 59, 1);
  font-weight: bolder;
  cursor: pointer;
}
.label-sign-up:hover {
  text-decoration: underline;
  text-decoration-color: rgba(5, 77, 59, 1);
}
