* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.profile {
  max-width: 360px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 0 20px;
}
.profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.profile-picture img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}
.top {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.label-about-you {
  color: rgba(5, 77, 59, 1);
  font-family: Rajdhani;
  font-weight: bold;
  font-size: 20px;
}
.label-edit-button {
  color: rgba(76, 175, 80, 1);
  font-family: Barlow;
  font-weight: bold;
  font-size: 15px;
  margin-left: auto;
}
.label-edit-button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgba(76, 175, 80, 1);
}
.credentials-container {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 15px;
}
.labels-credentials,
.actual-credentials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.actual-credentials label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.label-username,
.label-email-address,
.label-password,
.actual-username,
.actual-email-address,
.actual-password {
  font-family: Barlow;
  font-size: 15px;
}
.label-username,
.label-email-address,
.label-password {
  color: rgba(76, 175, 80, 1);
}
.actual-username,
.actual-email-address,
.actual-password {
  color: rgba(5, 77, 59, 1);
  text-align: right;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  gap: 10px;
}
.notify-message {
  position: relative;
  display: none;
  border-radius: 5px;
  padding-left: 60px;
  width: 100%;
  height: 45px;
  border-color: transparent;
  overflow: hidden;
  -webkit-transition: 0s;
  transition: 0s;
  outline: none;
}
.label-notify-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bolder;
  font-family: Barlow;
  font-size: 15px;
}
.notify-message img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.logout-button {
  width: 100%;
  height: 40px;
  background: rgba(5, 77, 59, 1);
  border-radius: 10px;
  color: white;
  border-color: transparent;
  font-family: Barlow;
  font-size: 18px;
}
.logout-button:hover {
  background-color: rgba(121, 158, 41, 1);
  transform: translateY(-2px);
  color: rgba(5, 77, 59, 1);
}
.logout-button:active {
  transform: translateY(2px);
}
@media screen and (orientation: landscape) {
  body {
    flex-direction: column;
  }
}
